name: CI

on: [push]

jobs:
  sast_semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
  
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: latest
  
      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci      # official security rules
        
